@media screen and (min-width:600px) {

    .side-bar{
        background-color: black;
        display: flex;
        justify-content: space-between;
        width: 250px;
        padding: 5px 7px;
    
    }
    
    .playlist{
        color: rgb(192, 190, 190);
        margin-left: 10px;
        display: block;
    }

    .display-sidebar-content{
        display: inline-block;
    }
    .profile{
        background-color: rgb(192, 190, 190);
        border-radius: 50%;
        padding: 2px;
        width: 30px;
    }

    .logo{
        width: calc(100% - 20px);
        background-image: url(../img/logo.svg);
        padding: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 10px;
        
    }

    .side-icon{
        color: rgb(192, 190, 190);
        display: flex;
        align-items: center;
        
    }

    .icon-section{
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .icon-size{
        width: 15%;
        display: inline-block;
    }

    .top-border{
        border-top: 1px solid rgb(192, 190, 190);
        padding: 10px 0 0 0;
        color: #fff;
    }

    .side-bar-foot{
        margin: 10px;
        color: rgb(192, 190, 190);
    }
    .download{
        width: 20px;
    }
    .center-x{
        justify-content: flex-start;
    }
}