*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
img{
    max-width: 100%;
}

li{
    list-style: none;
}

h1, h2{
    color: white;
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 15px;
}
/* -----Utilities----- */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.center-y{
    align-items: center;
}
.center-x{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}
.text-white{
    color: white;
}

.bot-mar20{
    margin-bottom: 20px;
}
.bot-mar15{
    margin-bottom: 15px;
}
.bot-mar5{
    margin-bottom: 5px;
}
/* -----Side Bar----- */
.side-bar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 50px;
    padding: 5px 7px;
    
}
.side-icon{
    color: rgb(0, 0, 0);
    
}
.display-sidebar-content{
    display: none;
}
.icon-size{
    /* max-width: 20px; */
    display: inline-block;
}
div.side-icon{
    height: 30%;
}
.playlist{
    color: black;
    display: none;
}
.square-plus-size{
    font-size: 30px;
    
}
.download{
    width: 50%;
}
.profile{
    background-color: rgb(192, 190, 190);
    border-radius: 50%;
    padding: 3px;
    width: 90%;
}

.logo{
    width: 100%;
    background-image: url(../img/logo-small.svg);
    padding-top: 100%;
}

.side-bar-foot{
    /*  */
}
/* -----"main"----- */
.width{
    width: 100%;
    overflow-y: auto;
}
main{
    height: calc(100vh - 80px);
}
.main{
    
    padding: 15px;
    color: lightgray;
    background-color: rgb(33, 36, 44);
}

.sezioni{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
/* -----Header----- */

.header{
    background-color: rgb(15, 16, 22);
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999;
}

.button{
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin: 15px 5px;
}

/* -----griglia----- */
.card{
    display: flex;
    flex-basis: calc(50% - 15px);
    flex-direction: column;

}

.gap{
    gap: 15px;
}

.rotonda{
    border-radius: 50%;
}

.position-rel{
    position: relative;
}

.position-abs{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 75px/2);
    
    /* top: 0;
    left: 0; */
}

.play{
    font-size: 60px;
}

.index1{
    z-index: 1;
}

.index2{
    z-index: -1;
}


/* -----footer----- */


.footer{
    background-color: rgb(49, 49, 49);
    /* position: fixed;
    bottom: 0; */
    height: 80px;
    width: 100%;
    padding: 10px 15px;
}

.barra-play{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-size{
    font-size: 20px;
}
/* -----hover----- */

i.circle-size:hover {
    font-size: 25px;
}
.underline:hover{
    text-decoration: underline;
}

.white{
    color: rgb(192, 190, 190);
}
.button:hover{
    font-size: 120%;
}


div.position-rel:hover .index2{
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.521);
    
    /* padding: calc(50% - 30px) calc(50% - 75px/2); */
    /* box-sizing: content-box; */
}

li.side-icon:hover {
    color: white;
}

div.playlist> ul> li:hover{
    color: white;
}

.white:hover{
    color: white;
}

/* div.card> div> img:hover img{
    background-color:  rgba(0, 0, 0, 0.521);
} */