*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

li{
    list-style: none;
}

h1, h2{
    color: white;
    font-size: 1.75rem;
}
/* -----Utilities----- */
.flex{
    display: flex;
}

.text-white{
    color: white;
}

/* -----Side Bar----- */
.side-bar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 50px;
    position: ;
}

/* -----"main"----- */
.width{
    width: 100%;
}
.main{
    height: calc(100% - 100px - 80px);
    padding: 15px;
    color: lightgray;
    background-color: rgb(33, 36, 44);
}
/* -----Header----- */

.header{
    background-color: rgb(15, 16, 22);
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;

}

.button{
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
}
.b-position{
    position: relative;
    left: 250px;
    top: 15px;
}
/* -----griglia----- */
.card{
    
}

/* -----footer----- */

.footer{
    background-color: rgb(75, 75, 75);
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
}